$custom_white: #FFFFFF;
$custom_black: #000000;
.header {
    background-color: $custom_black;
    // border-bottom: 2px solid $custom_black;
    border-bottom: 2px solid $custom_black;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            max-height: 75px;
        }

        .navbar {
            display: flex;
            background-color: $custom_black;

            .navbar--links {
                display: flex;
                align-items: center;

                .navbar-item {
                    margin: 0 15px;
                    text-decoration: none;
                    color: $custom_white;
                    padding: 10px 0;
                    width: 100%;
                    white-space: nowrap;
                    text-align: center;

                    // &:hover {
                    //     color: $custom_white;
                    // }
                }
            }

            .navbar--icons {
                margin-left: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    color: $custom_white;
                    font-size: 25px;
                    margin: 0 10px;
                }
            }
            
        }

        .menu-icon {
            display: none;

            .fa-bars {
                color: $custom_white;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .header {
        position: relative;

        .container {
            .navbar {
                border-left: 1px solid $custom_black;
                // box-shadow: 0 0 10px 10px rgba(235, 33, 136,0.4);
                padding-top: 60px;
                // background-color: $custom_white;
                position: fixed;
                top: 0;
                right: -50%;
                min-width: 200px;
                height: 100%;
                opacity: 0;
                transition: all 1s ease-in-out;
                flex-direction: column;

                &.active {
                    z-index: 0;
                    right: 0%;
                    opacity: 1;
                }

                .navbar--links {
                    display: flex;
                    flex-direction: column;

                    .navbar-item {
                        text-align: center;
                        // color: $custom_black;

                        &:hover {
                            background-color: rgba(8, 11, 82, 0.7);
                        }
                    }
                }

                .navbar--icons {
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    margin-top: 20px;
                    margin-left: 0;
                    border-top: 1px solid $custom_white;

                    i {
                        color: $custom_white;
                    }

                    .signin, .login {
                        margin: 0 20px;

                        &:hover {
                            i{
                                color: rgba(8, 11, 82, 0.7);
                            }
                        }
                    }
                }
            }

            .menu-icon {
                display: block;
                z-index: 50;

                i {
                    color: $custom_white;
                }
            }
        }
    }
}