.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-user-circle {
    font-size: 25px;
}

.navbar-item {
    margin: 0 15px;
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar--links {
    display: flex;
    align-items: center;
}

.navbar--icons {
    margin-left: 30px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 550px) {
    .navbar {
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar--links {
        display: flex;
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }
}