/* GLOBAL VARIABLES */

// Custom Color
$custom_white: #FFFFFF;
$custom_black: #000000;
$custom_primary: #080a52;
$custom_secondary: #eb2188;
$custom_blue: #0F52BA;

@import "components/_components";
@import "pages/_pages";

body {
  margin: 0;
  // background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .content {
    min-height: 100vh;
  }
}

h1,
.h1 {
  font-weight: 800;
  font-size: 65px;
}

h2,
.h2 {
  font-weight: 800;
  font-size: 60px;
}

h3,
.h3 {
  font-weight: 800;
  font-size: 50px;
}

h4,
.h4 {
  font-weight: 800;
  font-size: 40px;
}

h5,
.h5 {
  font-weight: 800;
  font-size: 35px;
}

h6,
.h6 {
  font-weight: 800;
  font-size: 30px;
}

.App {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}